* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-main {
  padding-top: 3%;
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  margin-top: 4.5%;
  margin-bottom: 3%;
  background-color: #343a40;
  color: #fff;
  width: 45%;
}
strong{
  color:#CB9B48;
}
.grid-container{
  margin-top: 0;
  /* padding-top: 3%; */
  padding-left: 3%;
  padding-bottom: 3%;
  padding-right: 3%;
  margin-bottom: 3%;
  /* background-color: #343a40;
  color: #fff; */
  width: 45%;
}
.form-control-file{
  background-color: #343a40;
  border-color: #343a40;
  color:honeydew;
}
.login_background{
  background: url("../images/cart.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Source Serif Pro', serif;
  font-size: large;
}
.main-form {
  padding-top: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}
.avatar {
  background-color: #53575a;
  border-color: #343a40;
  /* box-shadow: 0 0 0px red; */
  margin-bottom: 10px;
  width: 35%;
}
.btn-sign-in{
  background-color: #CB9B48;
  border-color: #be8a2f;
  box-shadow: 0 0 1px #ccc;
  -webkit-transition: all 0.5s ease-in-out;
  border: 0px;
}
.btn-sign-in:hover{
  -webkit-transform: scale(1.1);
  background: #CB9B48;
}
/* .btn-sign-in {
  background-color: #CB9B48;

} */
/* .navbar{
  height: 50px;
} */
/* .main-form li{
  display: flex;
  padding: 5px 0;
}
.main-form li label{
  flex:1;
}
.main-form li label{
  flex:2;
} */

