*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}
.container{
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    width: 80%;
    /* height: ; */
    margin-top: 5%;
    margin-bottom: 3%;
    background-color: #fff
}
html { 
    background: url(images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
body{
    background-color: #e7eeea;
}
.btn{
    background-color: #379683;
    border-color: #379683;
}
/* @media (max-width: 1140px)
{
   
} */

/* img{
    align:right;
} */